html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root,
#app {
  width: 100%;
  height: 100%;
}

.col-md-4 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.is-success {
  color: #fff;
  background-color: #3abf94;
  border-color: #3abf94;
}

.is-info {
  background: #007bff;
  background-color: #007bff;
  color: #fff;
}
